In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.4f}'.format
# pd.options.display.max_rows = 500   
# pd.options.display.max_columns = 20   
from sklearn.preprocessing import StandardScaler,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score, accuracy_score, f1_score

In [28]:
df = pd.read_csv('corp_final.csv')
df.drop(['기업명','기업구분','지역','홈페이지'], axis=1, inplace=True)
df.head()

   기업구분코드  사원수      업력   입사율(%)   퇴사율(%)   이직율(%)     별점
0  3.0000   52  4.0000 114.7100  64.7100  56.4100 4.3000
1  3.0000  930 17.0000  89.9400  97.8400 108.7800 2.3000
2  3.0000   20 10.0000  40.0000  30.0000  75.0000 3.0000
3  3.0000  140 14.0000 120.0000 100.0000  83.3300 3.3000
4  3.0000   67 23.0000  42.8600  50.0000 116.6600 2.4000

In [29]:
df['가중치'] = np.nan
df.head(3)

   기업구분코드  사원수      업력   입사율(%)  퇴사율(%)   이직율(%)     별점  가중치
0  3.0000   52  4.0000 114.7100 64.7100  56.4100 4.3000  NaN
1  3.0000  930 17.0000  89.9400 97.8400 108.7800 2.3000  NaN
2  3.0000   20 10.0000  40.0000 30.0000  75.0000 3.0000  NaN

In [31]:
for idx, rows in df.iterrows():  # 기업 구분 (20%) 사원 수 (10%) 업력 (10%) 이직율(30%) 별점 (30%)
    weight = 0
    print(df.iloc[idx,])
    # 기업구분에 따라서
    if df.iloc[idx,1] == 3.0000:
        weight += 10*0.2
    elif df.iloc[idx,1] == 2.0000:
        weight += 20*0.2
    elif df.iloc[idx,1] == 1.0000:
        weight += 30*0.2
    elif df.iloc[idx,1] == 4.0000:
        weight += 15*0.2
    
    # 사원수에 따라서    
    if df.iloc[idx,2] < 30.50:
        weight += 10*0.1
    elif df.iloc[idx,2] < 76:
        weight += 20*0.1
    elif df.iloc[idx,2] < 211.25:
        weight += 30*0.1
    else:
        weight += 40*0.1
        
    # 엽력에 따라서   데이터 추가 필요 
    if df.iloc[idx,3] < 7:
        weight += 10*0.1
    elif df.iloc[idx,3] < 14:
        weight += 20*0.1
    elif df.iloc[idx,3] < 21:
        weight += 30*0.1
    else:
        weight += 40*0.1
    
        #이직율에 따라서
    if df.iloc[idx,-3] > 105.21:
        weight += 0
    elif df.iloc[idx,-3] > 81.2450:
        weight += 10*0.3
    elif df.iloc[idx,-3] > 63.6300:
        weight += 20*0.3
    else:             # 너무 낮은 경우 총 인원수 자체가 작은 경우도 있음. 
        weight += 30*0.3

    # 별점에 따라서 
    if df.iloc[idx,-2] <= 2.1:
        weight += 0
    elif df.iloc[idx,-2] <= 2.4:
        weight += 10*0.3    
    elif df.iloc[idx,-2] <= 2.7:
        weight += 15*0.3
    elif df.iloc[idx,-2] <= 3.275:
        weight += 20*0.3
    elif df.iloc[idx,-2] <= 3.7:
        weight += 25*0.3
    else:
        weight += 35*0.3

    
    df.loc[idx, '가중치'] = weight

기업구분코드     3.0000
사원수       52.0000
업력         4.0000
입사율(%)   114.7100
퇴사율(%)    64.7100
이직율(%)    56.4100
별점         4.3000
가중치       24.5000
Name: 0, dtype: float64
기업구분코드     3.0000
사원수      930.0000
업력        17.0000
입사율(%)    89.9400
퇴사율(%)    97.8400
이직율(%)   108.7800
별점         2.3000
가중치        8.0000
Name: 1, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력       10.0000
입사율(%)   40.0000
퇴사율(%)   30.0000
이직율(%)   75.0000
별점        3.0000
가중치      17.0000
Name: 2, dtype: float64
기업구분코드     3.0000
사원수      140.0000
업력        14.0000
입사율(%)   120.0000
퇴사율(%)   100.0000
이직율(%)    83.3300
별점         3.3000
가중치       15.5000
Name: 3, dtype: float64
기업구분코드     3.0000
사원수       67.0000
업력        23.0000
입사율(%)    42.8600
퇴사율(%)    50.0000
이직율(%)   116.6600
별점         2.4000
가중치        8.0000
Name: 4, dtype: float64
기업구분코드     3.0000
사원수       80.0000
업력         4.0000
입사율(%)   164.2900
퇴사율(%)    84.2900
이직율(%)    51.3100
별점         2.3000
가중치       17.0000
Name: 5, dtype: float64
기업구분코드    3.0000
사원수      75.0000
업력       12.0000
입사율(%)   89.1900
퇴사율(%)   62.1600
이직율(%)   69.6900
별점        2.1000
가중치      11.0000
Name: 6, dtype: float64
기업구분코드    3.0000
사원수      27.0000
업력       10.0000
입사율(%)   11.1100
퇴사율(%)    3.7000
이직율(%)   33.3000
별점        4.5000
가중치      22.5000
Name: 7, dtype: float64
기업구분코드     3.0000
사원수       39.0000
업력        22.0000
입사율(%)    12.5000
퇴사율(%)    25.0000
이직율(%)   200.0000
별점         3.3000
가중치       10.5000
Name: 8, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력         4.0000
입사율(%)    12.5000
퇴사율(%)    25.0000
이직율(%)   200.0000
별점         3.3000
가중치       10.5000
Name: 9, dtype: float64
기업구분코드     3.0000
사원수      173.0000
업력        13.0000
입사율(%)    46.5300
퇴사율(%)    27.7800
이직율(%)    59.7000
별점         2.8000
가중치       20.0000
Name: 10, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력         8.0000
입사율(%)    29.4100
퇴사율(%)    29.4100
이직율(%)   100.0000
별점         4.1000
가중치       18.5000
Name: 11, dtype: float64
기업구분코드    3.0000
사원수      82.0000
업력       20.0000
입사율(%)   91.0000
퇴사율(%)   70.0000
이직율(%)   76.9200
별점        2.5000
가중치      15.5000
Name: 12, dtype: float64
기업구분코드    3.0000
사원수      40.0000
업력       16.0000
입사율(%)   28.2100
퇴사율(%)   15.3800
이직율(%)   54.5200
별점        3.6000
가중치      21.5000
Name: 13, dtype: float64
기업구분코드     3.0000
사원수      115.0000
업력        14.0000
입사율(%)    82.8800
퇴사율(%)    82.8800
이직율(%)   100.0000
별점         2.2000
가중치       11.0000
Name: 14, dtype: float64
기업구분코드    3.0000
사원수      68.0000
업력       18.0000
입사율(%)   35.5900
퇴사율(%)   33.9000
이직율(%)   95.2500
별점        3.2000
가중치      14.0000
Name: 15, dtype: float64
기업구분코드     3.0000
사원수       42.0000
업력        16.0000
입사율(%)    20.0000
퇴사율(%)    35.5600
이직율(%)   177.8000
별점         2.6000
가중치        8.5000
Name: 16, dtype: float64
기업구분코드     3.0000
사원수      177.0000
업력        19.0000
입사율(%)    91.2300
퇴사율(%)    35.0900
이직율(%)    38.4600
별점         2.4000
가중치       17.0000
Name: 17, dtype: float64
기업구분코드     3.0000
사원수       29.0000
업력        22.0000
입사율(%)    29.0300
퇴사율(%)    38.7100
이직율(%)   133.3400
별점         3.0000
가중치       11.0000
Name: 18, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력         8.0000
입사율(%)   146.0000
퇴사율(%)    93.0000
이직율(%)    63.7000
별점         1.7000
가중치       11.0000
Name: 19, dtype: float64
기업구분코드    3.0000
사원수      33.0000
업력        6.0000
입사율(%)   67.7400
퇴사율(%)   64.5200
이직율(%)   95.2500
별점        4.6000
가중치      18.5000
Name: 20, dtype: float64
기업구분코드    3.0000
사원수      30.0000
업력       15.0000
입사율(%)   85.0000
퇴사율(%)   53.0000
이직율(%)   62.3500
별점        2.8000
가중치      20.0000
Name: 21, dtype: float64
기업구분코드    3.0000
사원수      21.0000
업력       20.0000
입사율(%)   44.0000
퇴사율(%)   39.0000
이직율(%)   88.6400
별점        1.7000
가중치       8.0000
Name: 22, dtype: float64
기업구분코드    3.0000
사원수      93.0000
업력       17.0000
입사율(%)   58.1800
퇴사율(%)   52.7300
이직율(%)   90.6300
별점        3.2000
가중치      14.0000
Name: 23, dtype: float64
기업구분코드     3.0000
사원수       82.0000
업력         6.0000
입사율(%)   128.3000
퇴사율(%)   132.0800
이직율(%)   102.9500
별점         2.5000
가중치       12.5000
Name: 24, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력        12.0000
입사율(%)   128.3000
퇴사율(%)   132.0800
이직율(%)   102.9500
별점         1.8000
가중치        8.0000
Name: 25, dtype: float64
기업구분코드    3.0000
사원수      28.0000
업력        5.0000
입사율(%)   56.7600
퇴사율(%)   40.5400
이직율(%)   71.4200
별점        3.3000
가중치      18.5000
Name: 26, dtype: float64
기업구분코드     3.0000
사원수      278.0000
업력         7.0000
입사율(%)    50.0000
퇴사율(%)    40.5000
이직율(%)    81.0000
별점         2.7000
가중치       15.5000
Name: 27, dtype: float64
기업구분코드    3.0000
사원수      62.0000
업력        5.0000
입사율(%)   78.0000
퇴사율(%)   62.0000
이직율(%)   79.4900
별점        2.8000
가중치      17.0000
Name: 28, dtype: float64
기업구분코드     3.0000
사원수      104.0000
업력         6.0000
입사율(%)   136.3600
퇴사율(%)    93.1800
이직율(%)    68.3300
별점         2.6000
가중치       15.5000
Name: 29, dtype: float64
기업구분코드     3.0000
사원수       36.0000
업력         6.0000
입사율(%)   166.6700
퇴사율(%)    40.0000
이직율(%)    24.0000
별점         2.3000
가중치       17.0000
Name: 30, dtype: float64
기업구분코드    3.0000
사원수      15.0000
업력        8.0000
입사율(%)   66.6700
퇴사율(%)   44.4400
이직율(%)   66.6600
별점        1.9000
가중치      11.0000
Name: 31, dtype: float64
기업구분코드     3.0000
사원수      229.0000
업력        23.0000
입사율(%)    24.8900
퇴사율(%)    19.9100
이직율(%)    79.9900
별점         3.2000
가중치       17.0000
Name: 32, dtype: float64
기업구분코드    3.0000
사원수      44.0000
업력        5.0000
입사율(%)   86.8400
퇴사율(%)   55.2600
이직율(%)   63.6300
별점        3.3000
가중치      21.5000
Name: 33, dtype: float64
기업구분코드     3.0000
사원수       16.0000
업력         6.0000
입사율(%)    30.0000
퇴사율(%)    55.0000
이직율(%)   183.3300
별점         3.3000
가중치       12.5000
Name: 34, dtype: float64
기업구분코드    3.0000
사원수      42.0000
업력        9.0000
입사율(%)   88.5200
퇴사율(%)   80.3300
이직율(%)   90.7500
별점        2.9000
가중치      14.0000
Name: 35, dtype: float64
기업구분코드    3.0000
사원수      28.0000
업력       13.0000
입사율(%)   69.5700
퇴사율(%)   56.5200
이직율(%)   81.2400
별점        3.2000
가중치      17.0000
Name: 36, dtype: float64
기업구분코드     3.0000
사원수       18.0000
업력         2.0000
입사율(%)   400.0000
퇴사율(%)   250.0000
이직율(%)    62.5000
별점         4.5000
가중치       24.5000
Name: 37, dtype: float64
기업구분코드     3.0000
사원수      235.0000
업력        17.0000
입사율(%)    48.1000
퇴사율(%)    35.7100
이직율(%)    74.2400
별점         3.3000
가중치       18.5000
Name: 38, dtype: float64
기업구분코드    3.0000
사원수      16.0000
업력        8.0000
입사율(%)   97.0000
퇴사율(%)   72.0000
이직율(%)   74.2300
별점        2.6000
가중치      15.5000
Name: 39, dtype: float64
기업구분코드     3.0000
사원수       78.0000
업력         9.0000
입사율(%)    43.4200
퇴사율(%)    65.7900
이직율(%)   151.5200
별점         2.8000
가중치       11.0000
Name: 40, dtype: float64
기업구분코드     3.0000
사원수       54.0000
업력        24.0000
입사율(%)   216.6700
퇴사율(%)    83.3300
이직율(%)    38.4600
별점         2.4000
가중치       17.0000
Name: 41, dtype: float64
기업구분코드    3.0000
사원수      63.0000
업력       12.0000
입사율(%)   43.0000
퇴사율(%)   24.0000
이직율(%)   55.8100
별점        3.4000
가중치      21.5000
Name: 42, dtype: float64
기업구분코드     3.0000
사원수       32.0000
업력         7.0000
입사율(%)   176.1900
퇴사율(%)    57.1400
이직율(%)    32.4300
별점         2.5000
가중치       18.5000
Name: 43, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력        18.0000
입사율(%)    27.5900
퇴사율(%)    44.8300
이직율(%)   162.4900
별점         3.0000
가중치       11.0000
Name: 44, dtype: float64
기업구분코드     3.0000
사원수       12.0000
업력         7.0000
입사율(%)    15.3800
퇴사율(%)    15.3800
이직율(%)   100.0000
별점         4.3000
가중치       17.5000
Name: 45, dtype: float64
기업구분코드     3.0000
사원수      134.0000
업력        18.0000
입사율(%)    81.7200
퇴사율(%)    40.8600
이직율(%)    50.0000
별점         3.2000
가중치       20.0000
Name: 46, dtype: float64
기업구분코드     3.0000
사원수       11.0000
업력         4.0000
입사율(%)   115.3800
퇴사율(%)   161.5400
이직율(%)   140.0100
별점         3.5000
가중치       12.5000
Name: 47, dtype: float64
기업구분코드     3.0000
사원수      297.0000
업력        13.0000
입사율(%)   104.2200
퇴사율(%)    70.0400
이직율(%)    67.2000
별점         2.6000
가중치       15.5000
Name: 48, dtype: float64
기업구분코드    3.0000
사원수      26.0000
업력        9.0000
입사율(%)   54.0000
퇴사율(%)   36.0000
이직율(%)   66.6700
별점        2.9000
가중치      17.0000
Name: 49, dtype: float64
기업구분코드     3.0000
사원수      145.0000
업력        15.0000
입사율(%)    46.8100
퇴사율(%)    29.0800
이직율(%)    62.1200
별점         2.9000
가중치       20.0000
Name: 50, dtype: float64
기업구분코드     3.0000
사원수      133.0000
업력        16.0000
입사율(%)    98.0600
퇴사율(%)    65.0500
이직율(%)    66.3400
별점         2.4000
가중치       14.0000
Name: 51, dtype: float64
기업구분코드     3.0000
사원수       24.0000
업력        13.0000
입사율(%)   122.2200
퇴사율(%)    94.4400
이직율(%)    77.2700
별점         2.9000
가중치       17.0000
Name: 52, dtype: float64
기업구분코드     3.0000
사원수       33.0000
업력        15.0000
입사율(%)    33.0000
퇴사율(%)    33.0000
이직율(%)   100.0000
별점         2.6000
가중치       12.5000
Name: 53, dtype: float64
기업구분코드     3.0000
사원수      635.0000
업력        15.0000
입사율(%)    50.7600
퇴사율(%)    61.0100
이직율(%)   120.1900
별점         1.8000
가중치        5.0000
Name: 54, dtype: float64
기업구분코드    3.0000
사원수      66.0000
업력       10.0000
입사율(%)   51.5600
퇴사율(%)   32.8100
이직율(%)   63.6300
별점        2.5000
가중치      18.5000
Name: 55, dtype: float64
기업구분코드     3.0000
사원수       17.0000
업력        13.0000
입사율(%)   366.6700
퇴사율(%)   251.8500
이직율(%)    68.6900
별점         3.6000
가중치       18.5000
Name: 56, dtype: float64
기업구분코드    3.0000
사원수      56.0000
업력       11.0000
입사율(%)   41.4600
퇴사율(%)   31.7100
이직율(%)   76.4800
별점        4.1000
가중치      21.5000
Name: 57, dtype: float64
기업구분코드     3.0000
사원수       71.0000
업력        14.0000
입사율(%)    28.7900
퇴사율(%)    30.3000
이직율(%)   105.2400
별점         3.4000
가중치       12.5000
Name: 58, dtype: float64
기업구분코드     3.0000
사원수      215.0000
업력        20.0000
입사율(%)    26.8900
퇴사율(%)    29.2500
이직율(%)   108.7800
별점         2.4000
가중치        8.0000
Name: 59, dtype: float64
기업구분코드     3.0000
사원수      110.0000
업력        23.0000
입사율(%)    19.0900
퇴사율(%)    20.0000
이직율(%)   104.7700
별점         3.0000
가중치       13.0000
Name: 60, dtype: float64
기업구분코드     3.0000
사원수      143.0000
업력        14.0000
입사율(%)   123.9100
퇴사율(%)    68.4800
이직율(%)    55.2700
별점         1.0000
가중치       14.0000
Name: 61, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력         9.0000
입사율(%)    31.4300
퇴사율(%)    40.0000
이직율(%)   127.2700
별점         3.3000
가중치       12.5000
Name: 62, dtype: float64
기업구분코드    3.0000
사원수      13.0000
업력        5.0000
입사율(%)   77.7800
퇴사율(%)   33.3300
이직율(%)   42.8500
별점        4.3000
가중치      24.5000
Name: 63, dtype: float64
기업구분코드     3.0000
사원수       83.0000
업력        12.0000
입사율(%)    38.1000
퇴사율(%)    38.1000
이직율(%)   100.0000
별점         2.3000
가중치       11.0000
Name: 64, dtype: float64
기업구분코드     3.0000
사원수        7.0000
업력         2.0000
입사율(%)   316.6700
퇴사율(%)   316.6700
이직율(%)   100.0000
별점         2.5000
가중치       12.5000
Name: 65, dtype: float64
기업구분코드     3.0000
사원수       99.0000
업력         4.0000
입사율(%)   231.2500
퇴사율(%)    95.8300
이직율(%)    41.4400
별점         4.0000
가중치       24.5000
Name: 66, dtype: float64
기업구분코드    3.0000
사원수      14.0000
업력       16.0000
입사율(%)   30.2600
퇴사율(%)   26.3200
이직율(%)   86.9800
별점        2.3000
가중치      11.0000
Name: 67, dtype: float64
기업구분코드     3.0000
사원수      317.0000
업력        12.0000
입사율(%)    89.8600
퇴사율(%)    31.1200
이직율(%)    34.6300
별점         3.1000
가중치       20.0000
Name: 68, dtype: float64
기업구분코드    3.0000
사원수      35.0000
업력        9.0000
입사율(%)   32.0000
퇴사율(%)   23.0000
이직율(%)   71.8800
별점        3.3000
가중치      18.5000
Name: 69, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력        6.0000
입사율(%)   69.5700
퇴사율(%)   52.1700
이직율(%)   74.9900
별점        1.8000
가중치      11.0000
Name: 70, dtype: float64
기업구분코드     3.0000
사원수       14.0000
업력         6.0000
입사율(%)    38.1000
퇴사율(%)    71.4300
이직율(%)   187.4800
별점         2.1000
가중치        5.0000
Name: 71, dtype: float64
기업구분코드     3.0000
사원수       23.0000
업력        14.0000
입사율(%)    30.7700
퇴사율(%)    42.3100
이직율(%)   137.5000
별점         3.0000
가중치       11.0000
Name: 72, dtype: float64
기업구분코드     3.0000
사원수       11.0000
업력         7.0000
입사율(%)    31.2500
퇴사율(%)    50.0000
이직율(%)   160.0000
별점         5.0000
가중치       15.5000
Name: 73, dtype: float64
기업구분코드     3.0000
사원수      163.0000
업력        20.0000
입사율(%)    41.3300
퇴사율(%)    30.6700
이직율(%)    74.2100
별점         2.9000
가중치       17.0000
Name: 74, dtype: float64
기업구분코드     3.0000
사원수      222.0000
업력        23.0000
입사율(%)    28.8600
퇴사율(%)    22.8200
이직율(%)    79.0700
별점         2.1000
가중치       11.0000
Name: 75, dtype: float64
기업구분코드     3.0000
사원수       45.0000
업력         4.0000
입사율(%)   109.6800
퇴사율(%)    61.2900
이직율(%)    55.8800
별점         4.7000
가중치       24.5000
Name: 76, dtype: float64
기업구분코드     3.0000
사원수       19.0000
업력        14.0000
입사율(%)   166.6700
퇴사율(%)   140.0000
이직율(%)    84.0000
별점         1.7000
가중치        8.0000
Name: 77, dtype: float64
기업구분코드     3.0000
사원수       66.0000
업력        21.0000
입사율(%)    24.6200
퇴사율(%)    32.3100
이직율(%)   131.2300
별점         2.9000
가중치       11.0000
Name: 78, dtype: float64
기업구분코드     3.0000
사원수      224.0000
업력        18.0000
입사율(%)    54.8200
퇴사율(%)    39.0900
이직율(%)    71.3100
별점         2.2000
가중치       14.0000
Name: 79, dtype: float64
기업구분코드     3.0000
사원수      224.0000
업력         4.0000
입사율(%)   141.6000
퇴사율(%)    44.0000
이직율(%)    31.0700
별점         3.4000
가중치       21.5000
Name: 80, dtype: float64
기업구분코드     3.0000
사원수       95.0000
업력         4.0000
입사율(%)    32.1000
퇴사율(%)   129.6300
이직율(%)   403.8300
별점         2.4000
가중치        8.0000
Name: 81, dtype: float64
기업구분코드     3.0000
사원수       25.0000
업력        19.0000
입사율(%)    11.5400
퇴사율(%)    15.3800
이직율(%)   133.2800
별점         2.7000
가중치        7.5000
Name: 82, dtype: float64
기업구분코드     3.0000
사원수      943.0000
업력        10.0000
입사율(%)   137.9600
퇴사율(%)    39.2000
이직율(%)    28.4100
별점         2.7000
가중치       18.5000
Name: 83, dtype: float64
기업구분코드     3.0000
사원수       63.0000
업력        20.0000
입사율(%)    34.3800
퇴사율(%)    39.0600
이직율(%)   113.6100
별점         1.9000
가중치        5.0000
Name: 84, dtype: float64
기업구분코드    3.0000
사원수      24.0000
업력       20.0000
입사율(%)   15.3800
퇴사율(%)   11.5400
이직율(%)   75.0300
별점        2.6000
가중치      14.5000
Name: 85, dtype: float64
기업구분코드    3.0000
사원수      80.0000
업력       25.0000
입사율(%)   27.8500
퇴사율(%)   25.3200
이직율(%)   90.9200
별점        3.0000
가중치      14.0000
Name: 86, dtype: float64
기업구분코드    3.0000
사원수      20.0000
업력        4.0000
입사율(%)   82.3500
퇴사율(%)   52.9400
이직율(%)   64.2900
별점        2.0000
가중치      11.0000
Name: 87, dtype: float64
기업구분코드     3.0000
사원수      178.0000
업력         6.0000
입사율(%)   101.1800
퇴사율(%)    22.4900
이직율(%)    22.2300
별점         2.4000
가중치       17.0000
Name: 88, dtype: float64
기업구분코드     3.0000
사원수       40.0000
업력        21.0000
입사율(%)    35.7100
퇴사율(%)    47.6200
이직율(%)   133.3500
별점         2.6000
가중치        9.5000
Name: 89, dtype: float64
기업구분코드     3.0000
사원수      261.0000
업력        10.0000
입사율(%)    90.3200
퇴사율(%)    58.5300
이직율(%)    64.8000
별점         2.5000
가중치       15.5000
Name: 90, dtype: float64
기업구분코드     3.0000
사원수       20.0000
업력         5.0000
입사율(%)     7.1400
퇴사율(%)    28.5700
이직율(%)   400.1400
별점         4.0000
가중치       13.5000
Name: 91, dtype: float64
기업구분코드    3.0000
사원수      61.0000
업력       19.0000
입사율(%)   60.0000
퇴사율(%)   40.0000
이직율(%)   66.6700
별점        2.2000
가중치      14.0000
Name: 92, dtype: float64
기업구분코드     3.0000
사원수      162.0000
업력        20.0000
입사율(%)    33.1200
퇴사율(%)    16.5600
이직율(%)    50.0000
별점         2.5000
가중치       18.5000
Name: 93, dtype: float64
기업구분코드     3.0000
사원수       21.0000
업력         4.0000
입사율(%)    62.5000
퇴사율(%)    79.1700
이직율(%)   126.6700
별점         1.0000
가중치        5.0000
Name: 94, dtype: float64
기업구분코드     3.0000
사원수       32.0000
업력         3.0000
입사율(%)   183.8700
퇴사율(%)   151.6100
이직율(%)    82.4500
별점         1.8000
가중치        8.0000
Name: 95, dtype: float64
기업구분코드     3.0000
사원수       18.0000
업력        14.0000
입사율(%)    35.0000
퇴사율(%)    60.0000
이직율(%)   171.4300
별점         2.7000
가중치        9.5000
Name: 96, dtype: float64
기업구분코드     3.0000
사원수       15.0000
업력         3.0000
입사율(%)   145.4500
퇴사율(%)   118.1800
이직율(%)    81.2500
별점         2.0000
가중치        8.0000
Name: 97, dtype: float64
기업구분코드     3.0000
사원수      120.0000
업력         9.0000
입사율(%)    91.7800
퇴사율(%)    26.0300
이직율(%)    28.3600
별점         2.9000
가중치       20.0000
Name: 98, dtype: float64
기업구분코드    3.0000
사원수      77.0000
업력       14.0000
입사율(%)   39.1300
퇴사율(%)   15.9400
이직율(%)   40.7400
별점        2.9000
가중치      20.0000
Name: 99, dtype: float64
기업구분코드    3.0000
사원수      61.0000
업력       20.0000
입사율(%)   64.7100
퇴사율(%)   49.0200
이직율(%)   75.7500
별점        2.9000
가중치      17.0000
Name: 100, dtype: float64
기업구분코드     3.0000
사원수       39.0000
업력         6.0000
입사율(%)   103.3300
퇴사율(%)    60.0000
이직율(%)    58.0700
별점         3.4000
가중치       21.5000
Name: 101, dtype: float64
기업구분코드     3.0000
사원수       60.0000
업력         4.0000
입사율(%)    70.9700
퇴사율(%)    85.4800
이직율(%)   120.4500
별점         3.9000
가중치       15.5000
Name: 102, dtype: float64
기업구분코드    3.0000
사원수      77.0000
업력       22.0000
입사율(%)   43.6400
퇴사율(%)   36.3600
이직율(%)   83.3200
별점        3.2000
가중치      14.0000
Name: 103, dtype: float64
기업구분코드     3.0000
사원수      223.0000
업력        18.0000
입사율(%)    22.4800
퇴사율(%)    19.2700
이직율(%)    85.7200
별점         2.5000
가중치       12.5000
Name: 104, dtype: float64
기업구분코드    3.0000
사원수       2.0000
업력        7.0000
입사율(%)   37.5000
퇴사율(%)   19.1700
이직율(%)   51.1200
별점        2.8000
가중치      24.0000
Name: 105, dtype: float64
기업구분코드    3.0000
사원수      32.0000
업력        8.0000
입사율(%)   36.6700
퇴사율(%)   23.3300
이직율(%)   63.6200
별점        2.6000
가중치      18.5000
Name: 106, dtype: float64
기업구분코드    3.0000
사원수      52.0000
업력       14.0000
입사율(%)   40.0000
퇴사율(%)   22.2200
이직율(%)   55.5500
별점        3.3000
가중치      21.5000
Name: 107, dtype: float64
기업구분코드     3.0000
사원수       85.0000
업력         9.0000
입사율(%)    72.5800
퇴사율(%)    77.4200
이직율(%)   106.6700
별점         2.0000
가중치        5.0000
Name: 108, dtype: float64
기업구분코드    3.0000
사원수      52.0000
업력        7.0000
입사율(%)   74.0700
퇴사율(%)   59.2600
이직율(%)   80.0100
별점        3.4000
가중치      18.5000
Name: 109, dtype: float64
기업구분코드     3.0000
사원수       12.0000
업력        18.0000
입사율(%)    12.5000
퇴사율(%)    12.5000
이직율(%)   100.0000
별점         2.0000
가중치        6.0000
Name: 110, dtype: float64
기업구분코드    3.0000
사원수      50.0000
업력        7.0000
입사율(%)   81.4000
퇴사율(%)   79.0700
이직율(%)   97.1400
별점        2.7000
가중치      12.5000
Name: 111, dtype: float64
기업구분코드    3.0000
사원수      66.0000
업력       23.0000
입사율(%)   41.6700
퇴사율(%)   35.0000
이직율(%)   83.9900
별점        2.7000
가중치      12.5000
Name: 112, dtype: float64
기업구분코드     3.0000
사원수       70.0000
업력         7.0000
입사율(%)   108.4700
퇴사율(%)    42.3700
이직율(%)    39.0600
별점         4.4000
가중치       24.5000
Name: 113, dtype: float64
기업구분코드     3.0000
사원수       26.0000
업력        13.0000
입사율(%)    35.1400
퇴사율(%)    37.8400
이직율(%)   107.6800
별점         2.5000
가중치        9.5000
Name: 114, dtype: float64
기업구분코드     3.0000
사원수      185.0000
업력        19.0000
입사율(%)    32.7100
퇴사율(%)    45.7900
이직율(%)   139.9900
별점         2.5000
가중치        9.5000
Name: 115, dtype: float64
기업구분코드     3.0000
사원수      116.0000
업력        18.0000
입사율(%)    30.3600
퇴사율(%)    28.5700
이직율(%)    94.1000
별점         3.0000
가중치       14.0000
Name: 116, dtype: float64
기업구분코드     3.0000
사원수       45.0000
업력         4.0000
입사율(%)   175.8600
퇴사율(%)   127.5900
이직율(%)    72.5500
별점         2.7000
가중치       15.5000
Name: 117, dtype: float64
기업구분코드     3.0000
사원수        3.0000
업력         6.0000
입사율(%)    28.5700
퇴사율(%)    42.8600
이직율(%)   150.0200
별점         2.5000
가중치       11.5000
Name: 118, dtype: float64
기업구분코드     3.0000
사원수       60.0000
업력        21.0000
입사율(%)    43.1000
퇴사율(%)    44.8300
이직율(%)   104.0100
별점         3.3000
가중치       15.5000
Name: 119, dtype: float64

In [32]:
df.describe()

        기업구분코드       사원수       업력   입사율(%)   퇴사율(%)   이직율(%)       별점      가중치
count 174.0000  174.0000 174.0000 174.0000 174.0000 174.0000 174.0000 174.0000
mean    2.8448  304.4368  15.3276  63.4593  48.9160  92.4985   2.8379  14.5316
std     0.6835  994.3643   9.7667  58.9875  42.2990  52.4883   0.6816   4.8751
min     1.0000    2.0000   1.0000   7.1400   3.7000  22.2300   1.0000   3.0000
25%     3.0000   30.5000   7.0000  28.6250  23.8425  63.6300   2.4000  11.0000
50%     3.0000   76.0000  14.0000  43.0500  38.2100  81.2450   2.7000  14.0000
75%     3.0000  211.2500  21.0000  82.7475  60.0000 105.2100   3.2750  18.5000
max     4.0000 9658.0000  55.0000 400.0000 316.6700 403.8300   5.0000  24.5000

In [33]:
df['가중치'].quantile(.6)

15.5

In [34]:
df['추천'] = np.nan

In [35]:
for idx, rows in df.iterrows():
    if df.iloc[idx,-2] >= 15.5:
        df.iloc[idx,-1] = 1
    else:
        df.iloc[idx,-1] = 0

In [36]:
df.head(2)

   기업구분코드  사원수      업력   입사율(%)  퇴사율(%)   이직율(%)     별점     가중치     추천
0  3.0000   52  4.0000 114.7100 64.7100  56.4100 4.3000 24.5000 1.0000
1  3.0000  930 17.0000  89.9400 97.8400 108.7800 2.3000  8.0000 0.0000

In [37]:
X = df.drop(columns=['추천','가중치','입사율(%)','퇴사율(%)'])
Y = df['추천']

# x_train, x_test 데이터 생성
x_train, x_test, y_train, y_test  = train_test_split(X, Y, test_size=0.2, stratify= Y, random_state=0)

x_train.shape, y_train.shape, x_test.shape

((139, 5), (139,), (35, 5))

In [38]:
# train score, test score, roc_auc_score 
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred = model.predict(xtest)
    C = roc_auc_score(ytest, ypred)  
    return '{:.4f} {:.4f} {:.4f}'.format(A, B, C)
# 모델선택 
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression(max_iter=500).fit(xtrain, ytrain)
    print('Logistic', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('KNN', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('DecisionTree', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('DecisionTree', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('RandomForest', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(100, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('RandomForest', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier().fit(xtrain, ytrain)
    print('XGB', get_scores(model5, xtrain, xtest, ytrain, ytest))

In [39]:
#성능평가 
def get_other_scores(model, xtest, ytest):
    y_pred = model.predict(xtest)
    accuracy = accuracy_score(ytest, y_pred)
    precision = precision_score(ytest, y_pred)
    recall = recall_score(ytest, y_pred)
    f1 = f1_score(ytest, y_pred)
    print(f'accuracy  : {accuracy:.4f}')
    print(f'precision : {precision:.4f}')
    print(f'recall    : {recall:.4f}')
    print(f'f1        : {f1:.4f}')

In [18]:
make_models(x_train,x_test,y_train,y_test)

Logistic 0.9496 0.9143 0.9112
KNN 1 1.0000 0.7714 0.7697
KNN 2 0.8705 0.7143 0.7023
KNN 3 0.8489 0.7143 0.7122
KNN 4 0.8345 0.7429 0.7336
KNN 5 0.8273 0.7429 0.7434
KNN 6 0.8058 0.6857 0.6809
KNN 7 0.8058 0.7143 0.7122
KNN 8 0.7914 0.6857 0.6809
KNN 9 0.7842 0.7143 0.7122
DecisionTree 1.0000 0.8571 0.8487
DecisionTree 3 0.9784 0.8000 0.8010
DecisionTree 4 0.9856 0.8000 0.8010
DecisionTree 5 0.9928 0.8571 0.8487
DecisionTree 6 1.0000 0.8571 0.8487
DecisionTree 7 1.0000 0.8571 0.8487
RandomForest 1.0000 0.8857 0.8799
RandomForest 3 0.9856 0.8857 0.8799
RandomForest 4 1.0000 0.8857 0.8799
RandomForest 5 1.0000 0.8857 0.8799
RandomForest 6 1.0000 0.8857 0.8799
RandomForest 7 1.0000 0.8857 0.8799
XGB 0.9928 0.8571 0.8536

In [20]:
model =  LogisticRegression(max_iter=500).fit(x_train, y_train)
print(get_scores(model, x_train, x_test, y_train, y_test))  # train score, test score, roc_auc_score 
get_other_scores(model,x_test,y_test)

0.9496 0.9143 0.9112
accuracy  : 0.9143
precision : 0.9333
recall    : 0.8750
f1        : 0.9032

In [21]:
y_pred = model.predict(x_test)
label=['비추천', '추천']
a = confusion_matrix(y_test, y_pred)
b = pd.DataFrame(a, columns=label, index=label)
b

     비추천  추천
비추천   18   1
추천     2  14

## Standard Scaler적용

In [22]:

scaler =StandardScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test),columns=x_test.columns)

x_train.describe().T

          count    mean    std     min     25%     50%     75%    max
기업구분코드 139.0000 -0.0000 1.0036 -2.6154  0.2471  0.2471  0.2471 1.6784
사원수    139.0000  0.0000 1.0036 -0.3605 -0.3285 -0.2717 -0.0785 8.2591
업력     139.0000  0.0000 1.0036 -1.4407 -0.8197 -0.1988  0.5256 4.1478
이직율(%) 139.0000  0.0000 1.0036 -1.2989 -0.5496 -0.2422  0.2195 5.5328
별점     139.0000 -0.0000 1.0036 -2.7579 -0.6672 -0.0698  0.5275 3.2156

In [23]:
make_models(x_train,x_test,y_train,y_test)

Logistic 0.9568 0.9143 0.9112
KNN 1 1.0000 0.8000 0.7961
KNN 2 0.9568 0.7429 0.7336
KNN 3 0.9712 0.8286 0.8273
KNN 4 0.9496 0.9143 0.9062
KNN 5 0.9281 0.8286 0.8322
KNN 6 0.8993 0.8000 0.7911
KNN 7 0.8921 0.8286 0.8224
KNN 8 0.8921 0.8286 0.8224
KNN 9 0.8993 0.8571 0.8536
DecisionTree 1.0000 0.8571 0.8487
DecisionTree 3 0.9784 0.8000 0.8010
DecisionTree 4 0.9856 0.8000 0.8010
DecisionTree 5 0.9928 0.8571 0.8487
DecisionTree 6 1.0000 0.8571 0.8487
DecisionTree 7 1.0000 0.8571 0.8487
RandomForest 1.0000 0.8857 0.8799
RandomForest 3 0.9856 0.8857 0.8799
RandomForest 4 1.0000 0.8857 0.8799
RandomForest 5 1.0000 0.8857 0.8799
RandomForest 6 1.0000 0.8857 0.8799
RandomForest 7 1.0000 0.8857 0.8799
XGB 0.9928 0.8571 0.8536

In [24]:
model =  KNeighborsClassifier(9).fit(x_train, y_train)
print(get_scores(model, x_train, x_test, y_train, y_test))  # train score, test score, roc_auc_score 
get_other_scores(model,x_test,y_test)

0.8993 0.8571 0.8536
accuracy  : 0.8571
precision : 0.8667
recall    : 0.8125
f1        : 0.8387

In [25]:
y_pred = model.predict(x_test)
label=['비추천', '추천']
a = confusion_matrix(y_test, y_pred)
b = pd.DataFrame(a, columns=label, index=label)
b

     비추천  추천
비추천   17   2
추천     3  13

## Robust Scaler 적용

In [40]:
scaler = RobustScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test),columns=x_test.columns)

x_train.describe().T

          count    mean    std     min     25%    50%    75%     max
기업구분코드 139.0000 -0.1727 0.7012 -2.0000  0.0000 0.0000 0.0000  1.0000
사원수    139.0000  1.0867 4.0135 -0.3551 -0.2272 0.0000 0.7728 34.1149
업력     139.0000  0.1478 0.7460 -0.9231 -0.4615 0.0000 0.5385  3.2308
이직율(%) 139.0000  0.3150 1.3049 -1.3738 -0.3997 0.0000 0.6003  7.5088
별점     139.0000  0.0585 0.8401 -2.2500 -0.5000 0.0000 0.5000  2.7500

In [41]:
make_models(x_train,x_test,y_train,y_test)

Logistic 0.9568 0.9143 0.9112
KNN 1 1.0000 0.7429 0.7385
KNN 2 0.9712 0.8000 0.7911
KNN 3 0.9496 0.8571 0.8536
KNN 4 0.9353 0.8571 0.8438
KNN 5 0.9137 0.8857 0.8799
KNN 6 0.9065 0.8571 0.8487
KNN 7 0.9065 0.8286 0.8224
KNN 8 0.9065 0.8286 0.8174
KNN 9 0.9065 0.8000 0.7911
DecisionTree 1.0000 0.8571 0.8487
DecisionTree 3 0.9784 0.8857 0.8799
DecisionTree 4 0.9856 0.8857 0.8799
DecisionTree 5 0.9928 0.8571 0.8487
DecisionTree 6 1.0000 0.8571 0.8487
DecisionTree 7 1.0000 0.8571 0.8487
RandomForest 1.0000 0.8857 0.8799
RandomForest 3 0.9856 0.8857 0.8799
RandomForest 4 1.0000 0.8857 0.8799
RandomForest 5 1.0000 0.8857 0.8799
RandomForest 6 1.0000 0.8857 0.8799
RandomForest 7 1.0000 0.8857 0.8799
XGB 0.9928 0.8571 0.8536

In [42]:
# DecisionTree 3 0.9784 0.8857 0.8799

In [46]:
model = DecisionTreeClassifier(max_depth=3,random_state=0).fit(x_train, y_train)
print(get_scores(model, x_train, x_test, y_train, y_test))  # train score, test score, roc_auc_score 
get_other_scores(model,x_test,y_test)

0.9784 0.8857 0.8799
accuracy  : 0.8857
precision : 0.9286
recall    : 0.8125
f1        : 0.8667

In [48]:
y_pred = model.predict(x_test)
label=['비추천', '추천']
a = confusion_matrix(y_test, y_pred)
b = pd.DataFrame(a, columns=label, index=label)
b

     비추천  추천
비추천   18   1
추천     3  13