In [1]:
from selenium import webdriver as wd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from bs4 import BeautifulSoup
from urllib.request import urlopen

import pandas as pd
import numpy as np

import time

In [2]:
driver = wd.Chrome('chromedriver.exe')
saramin_filters = 'https://www.saramin.co.kr/zf_user/jobs/list/job-category?cat_kewd=82%2C257&searchType=search&searchword=%EB%8D%B0%EC%9D%B4%ED%84%B0+%EB%B6%84%EC%84%9D&exp_cd=1&edu_none=y&job_type=1&edu_min=6&edu_max=11&panel_type=&search_optional_item=y&search_done=y&panel_count=y&preview=y'
driver.get(saramin_filters)

C:\Users\kjaeh\AppData\Local\Temp\ipykernel_15876\1124558033.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wd.Chrome('chromedriver.exe')

In [3]:
# DataFrame 생성
columns = ['기업명', '기업구분', '사원수', '설립일(업력)', '홈페이지', '지역']
corporations = pd.DataFrame(columns=columns)

In [7]:
# 각종 기능 함수
def click_btn_num(num): # 페이지 넘기기
    driver.find_element(By.CSS_SELECTOR, f'#default_list_wrap > div.pagination > a:nth-child({num})').click()

def get_soup(): # soup 정보 호출
    return BeautifulSoup(driver.page_source,'html.parser')

def get_info(soup):
    company_name = soup.find('span', 'company_name').get_text()

    # Empty 변수 생성 - 해당 값이 없는 경우를 대비
    corp_cat = ''; employee_num = 0; foundation_yr = 0; home_url = ''; corp_loc = ''

    # 'dl' 태그를 돌며 정보 수집
    for info in soup.find_all('dl'):
        if info.find('dt').get_text() == '기업형태':
            corp_cat = info.find('dd').get_text()
        
        elif info.find('dt').get_text() == '사원수':
            employee_num = info.find('dd').get_text()
        
        elif info.find('dt').get_text() == '설립일':
            foundation_yr = info.find('dd').get_text()

        elif info.find('dt').get_text() == '홈페이지':
            home_url = info.find('dd').get_text().lstrip('\n ').rstrip(' ')

        elif info.find('dt').get_text() == '기업주소':
            corp_loc = info.find('dd').get_text()
        
        else: 
            pass
    
    # 리스트에 정리 후 리스트 출력
    info_list = [company_name, corp_cat, employee_num, foundation_yr, home_url, corp_loc]
    return info_list

In [10]:
# 페이지 별 정보 수집
for i in range(2, 10):
    table = WebDriverWait(driver, 3).until(
            EC.presence_of_element_located((By.CSS_SELECTOR, '#default_list_wrap > section > div.list_body')))
    contents = table.find_elements(By.CLASS_NAME, 'list_item')
    
    for c in contents:
        # 하이퍼링크 클릭
        c.find_element(By.TAG_NAME, 'a').click()
        driver.implicitly_wait(10)
        driver.switch_to.window(driver.window_handles[1])

        # 기업정보 버튼 클릭
        try:
            corp_btn = WebDriverWait(driver, 10).until(
                        EC.presence_of_element_located((By.XPATH, '//*[@id="content"]/div[4]/div[1]/button[4]'))) 
            corp_btn.click()
        except: # 기업 정보 버튼이 없을 시 탭을 종료한다
            driver.close()
            driver.switch_to.window(driver.window_handles[0])
            continue


        # 페이지 기준으로 soup 객체 생성
        time.sleep(3)
        soup = get_soup()
        corp_info = soup.find_all('div', 'wrap_info')[0] # 아래로 스크롤할 시 기업이 추가적으로 있으므로, 첫번째 기업만 추출
        
        # 앞서 지정한 함수에 따라 정보 DataFrame에 추가
        corporations.loc[len(corporations)+1] = get_info(corp_info)
        print(corporations.iloc[-1, :])

        # 탭 닫기
        driver.close()
        driver.switch_to.window(driver.window_handles[0])
    
    if i == 9:
        break
    else:
        click_btn_num(i)

기업명                        동아출판(주)
기업구분                  중견기업, 외부감사법인
사원수              283 명  (2022년 기준)
설립일(업력)     2008년 10월 1일 (업력 14년)
홈페이지       www.dongapublishing.com
지역                  서울 영등포구 은행로 30
Name: 1, dtype: object
기업명                                              (주)페이타랩
기업구분                            중소기업, 스타트업, 주식회사, 병역특례..
사원수                                     52 명  (2022년 기준)
설립일(업력)                            2018년 2월 28일 (업력 4년)
홈페이지                                     passorder.co.kr
지역         부산 부산진구 서면로 39, 6층 쿨리지코너부산센터 601호, 602호, 603호
Name: 2, dtype: object
기업명                      고려해운(주)
기업구분                중견기업, 외부감사법인
사원수            739 명  (2022년 기준)
설립일(업력)    1985년 9월 6일 (업력 37년)
홈페이지              www.kmtc.co.kr
지역                 서울 중구 남대문로 63
Name: 3, dtype: object
기업명                       (주)엠제이플렉스
기업구분       중소기업, 스타트업, 외부감사법인, 주식..
사원수               930 명  (2022년 기준)
설립일(업력)      2005년 3월 24일 (업력 17년)
홈페이지               www.mjplex.co.kr
지역          서울 구로구 디지털로33길 11, 406호
Name: 4, dtype: object
기업명                     에이에스이코리아(주)
기업구분       외국인 투자기업, 외부감사법인, 수출입 ..
사원수              1885 명  (2021년 기준)
설립일(업력)       1967년 3월 7일 (업력 55년)
홈페이지                  www.asekr.com
지역                  경기 파주시 산업단지길 76
Name: 5, dtype: object
기업명                       ㈜해커스교육그룹
기업구분                          중견기업
사원수              921 명  (2018년 기준)
설립일(업력)    2000년 11월 30일 (업력 22년)
홈페이지       http://www.hackers.com/
지역                               -
Name: 6, dtype: object
기업명                       ㈜해커스교육그룹
기업구분                          중견기업
사원수              921 명  (2018년 기준)
설립일(업력)    2000년 11월 30일 (업력 22년)
홈페이지       http://www.hackers.com/
지역                               -
Name: 7, dtype: object
기업명                         (주)앰진
기업구분                   중소기업, 주식회사
사원수                             0
설립일(업력)    2012년 6월 13일 (업력 10년)
홈페이지             www.amgine.co.kr
지역            서울 송파구 정의로8길 13, 5층
Name: 8, dtype: object
기업명                     (주)도킹블록
기업구분                 중소기업, 주식회사
사원수            11 명  (2022년 기준)
설립일(업력)    2019년 3월 6일 (업력 3년)
홈페이지           dockingblock.com
지역          서울 강남구 선릉로 703, 11층
Name: 9, dtype: object
기업명                                (주)헥토이노베이션
기업구분                 코스닥, 중소기업, 주식회사, 병역특례 ..
사원수                         140 명  (2022년 기준)
설립일(업력)                                     0
홈페이지       https://www.hectoinnovation.co.kr/
지역                      서울 강남구 테헤란로34길 6, 13층
Name: 10, dtype: object
기업명                   (주)세종분석연구원
기업구분                  중소기업, 주식회사
사원수                            0
설립일(업력)    2016년 6월 13일 (업력 6년)
홈페이지                     세종분석.kr
지역            서울 마포구 월드컵로 65, 4층
Name: 11, dtype: object
기업명                        (주)앤씨앤
기업구분          코스닥, 외부감사법인, 수출입 기업
사원수             117 명  (2022년 기준)
설립일(업력)    1997년 5월 13일 (업력 25년)
홈페이지               www.nc-and.com
지역             경기 성남시 분당구 판교로 323
Name: 12, dtype: object
기업명                      (주)엑스큐어넷
기업구분                   중소기업, 주식회사
사원수              67 명  (2020년 기준)
설립일(업력)    1999년 3월 24일 (업력 23년)
홈페이지             www.xcurenet.com
지역                 서울 은평구 가좌로 276
Name: 13, dtype: object
기업명                           (주)미디움
기업구분              중소기업, 외부감사법인, 주식회사
사원수                 80 명  (2022년 기준)
설립일(업력)       2018년 10월 23일 (업력 4년)
홈페이지       https://www.themedium.io/
지역                서울 강남구 학동로 211, 4층
Name: 14, dtype: object
기업명                   (주)씨씨미디어서비스
기업구분                   중소기업, 주식회사
사원수              75 명  (2021년 기준)
설립일(업력)    2010년 10월 7일 (업력 12년)
홈페이지            www.ccmedia.co.kr
지역         서울 구로구 가마산로25길 9-9, 7층
Name: 15, dtype: object
기업명                                   (주)한국컨텐츠인프라
기업구분                           중소기업, 주식회사, 수출입 기업
사원수                              27 명  (2022년 기준)
설립일(업력)                    2012년 2월 16일 (업력 10년)
홈페이지                         www.globalhost.co.kr
지역         경기 안양시 동안구 벌말로 126, 2810호 2809호, 2810호
Name: 16, dtype: object
기업명                           (주)온택트헬스
기업구분                        중소기업, 주식회사
사원수                                  0
설립일(업력)          2020년 11월 5일 (업력 2년)
홈페이지
지역         부산 중구 대청로 121-1, 102동 1309호
Name: 17, dtype: object
기업명                     (주)컨셉터스
기업구분                 중소기업, 주식회사
사원수                           0
설립일(업력)                       0
홈페이지       www.concepters.co.kr
지역                            -
Name: 18, dtype: object
기업명                           SK텔레콤(주)
기업구분       코스피, 대기업, 1000대기업, 주식회사, ..
사원수                 5376 명  (2022년 기준)
설립일(업력)         1984년 3월 29일 (업력 38년)
홈페이지                 www.sktelecom.com
지역                        서울 중구 을지로 65
Name: 19, dtype: object
기업명                     동국시스템즈(주)
기업구분          대기업, 외부감사법인, 수출입 기업
사원수             333 명  (2022년 기준)
설립일(업력)    1997년 9월 11일 (업력 25년)
홈페이지       www.dongkuksystems.com
지역                 서울 중구 을지로5길 19
Name: 20, dtype: object
기업명                     동국시스템즈(주)
기업구분          대기업, 외부감사법인, 수출입 기업
사원수             333 명  (2022년 기준)
설립일(업력)    1997년 9월 11일 (업력 25년)
홈페이지       www.dongkuksystems.com
지역                 서울 중구 을지로5길 19
Name: 21, dtype: object
기업명                                    (주)한국빌링시스템
기업구분                           중소기업, 외부감사법인, 주식회사
사원수                              39 명  (2020년 기준)
설립일(업력)                    2000년 4월 12일 (업력 22년)
홈페이지                              www.korbill.com
지역         서울 성동구 연무장5가길 7, 더블유동 907호, 908호, 909호
Name: 22, dtype: object
기업명                   (주)엔에이치엔다이퀘스트
기업구분       중견기업, 주식회사, 연구소, 병역특례 ..
사원수               197 명  (2021년 기준)
설립일(업력)       2000년 3월 3일 (업력 22년)
홈페이지                www.diquest.com
지역            서울 구로구 디지털로30길 31, 5층
Name: 23, dtype: object
기업명                        (주)이타즈
기업구분                         중소기업
사원수                             0
설립일(업력)     2018년 2월 26일 (업력 4년)
홈페이지
지역         부산 해운대구 센텀중앙로 66, 704호
Name: 24, dtype: object
기업명                                             (주)더블다운인터액티브
기업구분                                              중소기업, 주식회사
사원수                                                        0
설립일(업력)                                                    0
홈페이지       https://www.doubledowninteractive.co.kr/kor/ma...
지역                                      서울 강남구 테헤란로 152, 13층
Name: 25, dtype: object
기업명                 (주)데이터디자인엔지니어링
기업구분          중소기업, 외국인 투자기업, 주식회사
사원수               17 명  (2021년 기준)
설립일(업력)     2014년 10월 31일 (업력 8년)
홈페이지       datadesign.engineering/
지역           서울 구로구 디지털로31길 12, 2층
Name: 26, dtype: object
기업명                             ㈜칸테크
기업구분                            중견기업
사원수                                0
설립일(업력)                            0
홈페이지       http://www.khantech.co.kr
지역             서울 금천구 가산디지털2로 30, 8층
Name: 27, dtype: object
기업명                                  이루온
기업구분                 코스닥, 외부감사법인, 수출입 기업
사원수                                    0
설립일(업력)                                0
홈페이지                       www.eluon.com
지역         경기 성남시 분당구 대왕판교로 660, A동 905호
Name: 28, dtype: object
기업명                   (주)이지서티
기업구분       중소기업, 외부감사법인, 주식회사
사원수                         0
설립일(업력)                     0
홈페이지        www.easycerti.com
지역         서울 강남구 선릉로 577, 6층
Name: 29, dtype: object
기업명                                        (주)한국아이티전문학원
기업구분                                         중소기업, 주식회사
사원수                                                   0
설립일(업력)                          2019년 10월 22일 (업력 3년)
홈페이지
지역         충북 청주시 상당구 사직대로361번길 158-10, 7층 701호,8층 801호
Name: 30, dtype: object
기업명                 주식회사 이지서티
기업구분       중소기업, 외부감사법인, 주식회사
사원수                         0
설립일(업력)                     0
홈페이지        www.easycerti.com
지역         서울 강남구 선릉로 577, 6층
Name: 31, dtype: object
기업명                 주식회사 이지서티
기업구분       중소기업, 외부감사법인, 주식회사
사원수                         0
설립일(업력)                     0
홈페이지        www.easycerti.com
지역         서울 강남구 선릉로 577, 6층
Name: 32, dtype: object
기업명                        인터리젠(주)
기업구분                          중소기업
사원수               40 명  (2021년 기준)
설립일(업력)    2006년 12월 12일 (업력 16년)
홈페이지           www.interezen.co.kr
지역           서울 강남구 강남대로42길 13, 7층
Name: 33, dtype: object
기업명                    한국메티슨특수가스(주)
기업구분       외국인 투자기업, 외부감사법인, 수출입 ..
사원수               197 명  (2022년 기준)
설립일(업력)       1995년 9월 1일 (업력 27년)
홈페이지                 www.mgpk.co.kr
지역               충남 아산시 음봉면 음봉면로 94
Name: 34, dtype: object
기업명                             (주)딥노이드
기업구분           코스닥, 중소기업, 주식회사, 외부감사법..
사원수                   115 명  (2022년 기준)
설립일(업력)          2008년 2월 15일 (업력 14년)
홈페이지            http://www.deepnoid.com
지역         서울 구로구 디지털로33길 55, 13층 1305호
Name: 35, dtype: object
기업명                 (주)트랜스코스모스코리아
기업구분          중견기업, 외국 법인기업, 주식회사
사원수            9658 명  (2022년 기준)
설립일(업력)    2001년 5월 22일 (업력 21년)
홈페이지       www.trans-cosmos.co.kr
지역           서울 영등포구 여의대로 24, 35층
Name: 36, dtype: object
기업명                 네오뉴트라(주)
기업구분                    중소기업
사원수                        0
설립일(업력)                    0
홈페이지        www.neonutra.com
지역         서울 종로구 대학로 44, 4층
Name: 37, dtype: object
기업명                       ㈜해커스교육그룹
기업구분                          중견기업
사원수              921 명  (2018년 기준)
설립일(업력)    2000년 11월 30일 (업력 22년)
홈페이지       http://www.hackers.com/
지역                               -
Name: 38, dtype: object
기업명                          (주)모나미
기업구분       코스피, 중견기업, 외부감사법인, 수출입..
사원수               200 명  (2022년 기준)
설립일(업력)     1967년 12월 28일 (업력 55년)
홈페이지                 www.monami.com
지역                경기 용인시 수지구 손곡로 17
Name: 39, dtype: object
기업명                        (주)지앤티솔루션
기업구분       중소기업, 스타트업, 연구소, 주식회사, ..
사원수                                0
설립일(업력)                            0
홈페이지             www.gntsolution.com
지역                 서울 중구 세종대로 23, 7층
Name: 40, dtype: object
기업명                        에이디엠코리아(주)
기업구분         코스닥, 중소기업, 주식회사, 병역특례 ..
사원수                                 0
설립일(업력)                             0
홈페이지       http://www.admkorea.co.kr/
지역          서울 종로구 새문안로5길 19, 7층 711호
Name: 41, dtype: object
기업명                                       와이엠플러스
기업구분
사원수                             10 명  (2020년 기준)
설립일(업력)                    2019년 10월 8일 (업력 3년)
홈페이지                              www.ybid.co.kr
지역         서울 성동구 연무장5가길 25 성수역 SK V1 Tower 803호
Name: 42, dtype: object
기업명             (주)바이오인프라생명과학
기업구분          코넥스, 중소기업, 주식회사
사원수          29 명  (2021년 기준)
설립일(업력)                     0
홈페이지       www.bioinfra.co.kr
지역          서울 종로구 대학로 49, 7층
Name: 43, dtype: object
기업명                          (주)에이치앤컨설팅
기업구분                               중소기업
사원수                                   0
설립일(업력)                               0
홈페이지             www.hnconsulting.co.kr
지역         서울 서초구 반포대로30길 81, 11층 1101호
Name: 44, dtype: object
기업명                  (주)와이오엘오
기업구분               중소기업, 스타트업
사원수                         0
설립일(업력)                     0
홈페이지              yolocorp.kr
지역         서울 마포구 월드컵로10길 5-6
Name: 45, dtype: object
기업명                             (주)지니
기업구분         중소기업, 스타트업, 외부감사법인, 주식..
사원수                 124 명  (2022년 기준)
설립일(업력)        2009년 8월 18일 (업력 13년)
홈페이지                www.newjini.co.kr
지역         경기 성남시 분당구 판교역로 225-18, 8층
Name: 46, dtype: object
기업명                                              (주)페이타랩
기업구분                            중소기업, 스타트업, 주식회사, 병역특례..
사원수                                                    0
설립일(업력)                                                0
홈페이지                                     passorder.co.kr
지역         부산 부산진구 서면로 39, 6층 쿨리지코너부산센터 601호, 602호, 603호
Name: 47, dtype: object
기업명                     (주)세마그룹
기업구분                 중소기업, 주식회사
사원수                           0
설립일(업력)                       0
홈페이지       semaconsulting.co.kr
지역                            -
Name: 48, dtype: object
기업명                         ㈜데이타메이션
기업구분                     중소기업, 주식회사
사원수                               0
설립일(업력)                           0
홈페이지           www.datamation.co.kr
지역         서울 구로구 디지털로33길 27, 1014호
Name: 49, dtype: object
기업명                                       리뷰플레이스
기업구분                                  중소기업, 주식회사
사원수                                            0
설립일(업력)                                        0
홈페이지                       www.reviewplace.co.kr
지역         서울 금천구 가산디지털1로 196, 1402호 1401호,1402호
Name: 50, dtype: object
기업명                        (주)더블유게임즈
기업구분       코스피, 중견기업, 스타트업, 주식회사, ..
사원수                                0
설립일(업력)                            0
홈페이지            www.doubleugames.com
지역              서울 강남구 테헤란로 152, 16층
Name: 51, dtype: object
기업명                       (주)아이디어키
기업구분                    중소기업, 주식회사
사원수               93 명  (2021년 기준)
설립일(업력)      2005년 4월 6일 (업력 17년)
홈페이지             www.ideakey.co.kr
지역         서울 강남구 압구정로2길 45, 3층 4층
Name: 52, dtype: object
기업명                               틱톡
기업구분
사원수                                0
설립일(업력)        2018년 6월 19일 (업력 4년)
홈페이지              careers.tiktok.com
지역         서울 강남구 테헤란로 518 한국섬유산업연합회
Name: 53, dtype: object
기업명                               틱톡
기업구분
사원수                                0
설립일(업력)        2018년 6월 19일 (업력 4년)
홈페이지              careers.tiktok.com
지역         서울 강남구 테헤란로 518 한국섬유산업연합회
Name: 54, dtype: object
기업명                             (주)슈가힐
기업구분                  중소기업, 스타트업, 주식회사
사원수                   82 명  (2021년 기준)
설립일(업력)         2016년 12월 19일 (업력 6년)
홈페이지       http://www.sugarhill.co.kr/
지역          서울 강남구 강남대로 408, 11층 1101호
Name: 55, dtype: object
기업명                       (주)플렉싱크
기업구분                   중소기업, 주식회사
사원수              20 명  (2020년 기준)
설립일(업력)    2010년 4월 28일 (업력 12년)
홈페이지       http://www.flexink.com
지역         제주 제주시 첨단로 213-3, 318호
Name: 56, dtype: object
기업명                               틱톡
기업구분
사원수                                0
설립일(업력)        2018년 6월 19일 (업력 4년)
홈페이지              careers.tiktok.com
지역         서울 강남구 테헤란로 518 한국섬유산업연합회
Name: 57, dtype: object
기업명                               틱톡
기업구분
사원수                                0
설립일(업력)        2018년 6월 19일 (업력 4년)
홈페이지              careers.tiktok.com
지역         서울 강남구 테헤란로 518 한국섬유산업연합회
Name: 58, dtype: object
기업명                               틱톡
기업구분
사원수                                0
설립일(업력)        2018년 6월 19일 (업력 4년)
홈페이지              careers.tiktok.com
지역         서울 강남구 테헤란로 518 한국섬유산업연합회
Name: 59, dtype: object
기업명                   (주)지이씨엘코리아
기업구분                  중소기업, 주식회사
사원수             28 명  (2022년 기준)
설립일(업력)    2017년 1월 26일 (업력 5년)
홈페이지       http://www.gecl.co.kr
지역         서울 금천구 벚꽃로 234, 1602호
Name: 60, dtype: object
기업명                     AJ네트웍스(주)
기업구분               코스피, 대기업, 주식회사
사원수             533 명  (2022년 기준)
설립일(업력)    2000년 2월 10일 (업력 22년)
홈페이지              www.ajnet.co.kr
지역                 서울 송파구 정의로8길 9
Name: 61, dtype: object
기업명                  주식회사 리만코리아
기업구분         중견기업, 주식회사, 외부감사법인
사원수                           0
설립일(업력)                       0
홈페이지       www.rimankorea.co.kr
지역                            -
Name: 62, dtype: object
기업명                          (주)디알텍
기업구분       코스닥, 중소기업, 주식회사, 병역특례 ..
사원수               278 명  (2022년 기준)
설립일(업력)        2015년 2월 3일 (업력 7년)
홈페이지               www.drtech.co.kr
지역          경기 성남시 중원구 둔촌대로541번길 29
Name: 63, dtype: object
기업명                       (주)엔젤로보틱스
기업구분       중소기업, 연구소, 주식회사, 병역특례 ..
사원수                62 명  (2021년 기준)
설립일(업력)       2017년 2월 10일 (업력 5년)
홈페이지         angel-robotics.com/kr/
지역            서울 성동구 성수이로22길 37, 6층
Name: 64, dtype: object
기업명                        (주)애드
기업구분                        중소기업
사원수                            0
설립일(업력)    2018년 4월 17일 (업력 4년)
홈페이지                     addd.kr
지역           대전 서구 계룡로 566, 203호
Name: 65, dtype: object
기업명                       넛지헬스케어(주)
기업구분       중소기업, 외부감사법인, 주식회사, 병역..
사원수               104 명  (2021년 기준)
설립일(업력)       2016년 7월 27일 (업력 6년)
홈페이지               www.cashwalk.co/
지역                   서울 강남구 역삼로1길 8
Name: 66, dtype: object
기업명                         (주)엠에스링크앤솔루션
기업구분                          중소기업, 주식회사
사원수                                    0
설립일(업력)                                0
홈페이지                      www.mslk.co.kr
지역         서울 성동구 아차산로17길 49, 1215호1216호
Name: 67, dtype: object
기업명                         (주)오토피온
기업구분                            대기업
사원수                53 명  (2022년 기준)
설립일(업력)       2013년 12월 2일 (업력 9년)
홈페이지            http://autopion.com
지역         서울 강서구 양천로 583, A동 1601호
Name: 68, dtype: object
기업명                       (주)캐시카우
기업구분                   중소기업, 주식회사
사원수              15 명  (2018년 기준)
설립일(업력)    2014년 10월 23일 (업력 8년)
홈페이지           www.cash-cow.co.kr
지역         경기 성남시 분당구 판교로 323, 1층
Name: 69, dtype: object
기업명                                 (주)온마이뎁
기업구분                                   중소기업
사원수                                       0
설립일(업력)               2021년 1월 29일 (업력 1년)
홈페이지
지역         경기 성남시 분당구 황새울로360번길 19, 7층 702호
Name: 70, dtype: object
기업명                                (주)모비젠
기업구분             중소기업, 외부감사법인, 연구소, 주식회..
사원수                                     0
설립일(업력)                                 0
홈페이지                      www.mobigen.com
지역         서울 송파구 법원로 128, C동 1610호-1621호
Name: 71, dtype: object
기업명                        ㈜네오플
기업구분       대기업, 1000대기업, 외부감사법인
사원수                           0
설립일(업력)                       0
홈페이지           www.neople.co.kr
지역         제주 제주시 1100로 3198-13
Name: 72, dtype: object
기업명                                    (주)에이아이스페라
기업구분                        중소기업, 주식회사, 병역특례 인증업체
사원수                                             0
설립일(업력)                                         0
홈페이지
지역         서울 성동구 연무장5가길 7, 더블유동 701,702,703,704호
Name: 73, dtype: object
기업명                                    (주)에이아이스페라
기업구분                        중소기업, 주식회사, 병역특례 인증업체
사원수                                             0
설립일(업력)                                         0
홈페이지
지역         서울 성동구 연무장5가길 7, 더블유동 701,702,703,704호
Name: 74, dtype: object
기업명                        (주)핀샷
기업구분                        중소기업
사원수                            0
설립일(업력)    2016년 3월 28일 (업력 6년)
홈페이지
지역          서울 영등포구 도림로38길 1, 1층
Name: 75, dtype: object
기업명                              (주)스마트프로
기업구분                           중소기업, 주식회사
사원수                      15 명  (2021년 기준)
설립일(업력)             2016년 6월 17일 (업력 6년)
홈페이지                  www.smart-pro.co.kr
지역         대전 유성구 테크노2로 187, C동 525호 528호
Name: 76, dtype: object
기업명                     (주)모림
기업구분       중견기업, 주식회사, 수출입 기업
사원수                         0
설립일(업력)                     0
홈페이지            noxglobal.com
지역         서울 서초구 효령로 355, 7층
Name: 77, dtype: object
기업명                       제이어스(주)
기업구분                         중소기업
사원수                             0
설립일(업력)    2014년 11월 18일 (업력 8년)
홈페이지                www.jeios.com
지역            부산 사상구 모라로6번길 13-15
Name: 78, dtype: object
기업명                          (주)스위트케이
기업구분                       중소기업, 주식회사
사원수                  42 명  (2022년 기준)
설립일(업력)        2013년 12월 11일 (업력 9년)
홈페이지                     sweetk.co.kr
지역         경기 안양시 동안구 시민대로 401, 1812호
Name: 79, dtype: object
기업명                   (주)그린앤그레이
기업구분                       중소기업
사원수                           0
설립일(업력)                       0
홈페이지
지역         서울 강남구 테헤란로 325, 14층
Name: 80, dtype: object
기업명                             (주)아울시스템즈
기업구분                           중소기업, 주식회사
사원수                                     0
설립일(업력)                                 0
홈페이지                 www.owlsystems.co.kr
지역         서울 영등포구 경인로 775, 1동 809호, 810호
Name: 81, dtype: object
기업명                            (주)플랜티넷
기업구분          코스닥, 외부감사법인, 주식회사, 병역특..
사원수                                  0
설립일(업력)                              0
홈페이지                 www.plantynet.com
지역         경기 성남시 분당구 대왕판교로 670, A동 6층
Name: 82, dtype: object
기업명                                      (주)스탁키퍼

In [21]:
driver.close()
driver.switch_to.window(driver.window_handles[0])

In [172]:
columns = ['기업명', '기업구분', '사원수', '설립일(업력)', '홈페이지', '지역']

corporations = pd.DataFrame(columns=columns)

Empty DataFrame
Columns: [기업명, 지역, 기업구분, 사원수, 설립일(업력), 홈페이지]
Index: []

In [11]:
corporations.head()

,기업명,기업구분,사원수,설립일(업력),홈페이지,지역
1,동아출판(주),"중견기업, 외부감사법인",283 명 (2022년 기준),2008년 10월 1일 (업력 14년),www.dongapublishing.com,서울 영등포구 은행로 30
2,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",52 명 (2022년 기준),2018년 2월 28일 (업력 4년),passorder.co.kr,"부산 부산진구 서면로 39, 6층 쿨리지코너부산센터 601호, 602호, 603호"
3,고려해운(주),"중견기업, 외부감사법인",739 명 (2022년 기준),1985년 9월 6일 (업력 37년),www.kmtc.co.kr,서울 중구 남대문로 63
4,(주)엠제이플렉스,"중소기업, 스타트업, 외부감사법인, 주식..",930 명 (2022년 기준),2005년 3월 24일 (업력 17년),www.mjplex.co.kr,"서울 구로구 디지털로33길 11, 406호"
5,에이에스이코리아(주),"외국인 투자기업, 외부감사법인, 수출입 ..",1885 명 (2021년 기준),1967년 3월 7일 (업력 55년),www.asekr.com,경기 파주시 산업단지길 76

In [ ]:
for i, r in corporations.iterrows():
    corporations.loc[i, '지역'] = ' '.join(r['지역'].split(' ')[:2])

In [31]:
corporations.to_csv('001_corporations.csv', sep=',', encoding='cp949')

#### 데이터 셋 Description

In [32]:
corporations = pd.read_csv('001_corporations.csv', encoding='cp949')
corporations.head()

,Unnamed: 0.1,Unnamed: 0,기업명,기업구분,사원수,설립일(업력),홈페이지,지역
0,0,1,동아출판(주),"중견기업, 외부감사법인",283 명 (2022년 기준),2008년 10월 1일 (업력 14년),www.dongapublishing.com,서울 영등포구
1,1,2,(주)페이타랩,"중소기업, 스타트업, 주식회사, 병역특례..",52 명 (2022년 기준),2018년 2월 28일 (업력 4년),passorder.co.kr,부산 부산진구
2,2,3,고려해운(주),"중견기업, 외부감사법인",739 명 (2022년 기준),1985년 9월 6일 (업력 37년),www.kmtc.co.kr,서울 중구
3,3,4,(주)엠제이플렉스,"중소기업, 스타트업, 외부감사법인, 주식..",930 명 (2022년 기준),2005년 3월 24일 (업력 17년),www.mjplex.co.kr,서울 구로구
4,4,5,에이에스이코리아(주),"외국인 투자기업, 외부감사법인, 수출입 ..",1885 명 (2021년 기준),1967년 3월 7일 (업력 55년),www.asekr.com,경기 파주시

In [33]:
corporations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  368 non-null    int64
 1   Unnamed: 0    368 non-null    int64
 2   기업명           368 non-null    object
 3   기업구분          356 non-null    object
 4   사원수           368 non-null    object
 5   설립일(업력)       368 non-null    object
 6   홈페이지          317 non-null    object
 7   지역            368 non-null    object
dtypes: int64(2), object(6)
memory usage: 23.1+ KB

In [ ]:
corporations['지역'].unique()

array(['서울 영등포구', '부산 부산진구', '서울 중구', '서울 구로구', '경기 파주시', '-', '서울 송파구',
       '서울 강남구', '서울 마포구', '경기 성남시', '서울 은평구', '경기 안양시', '부산 중구',
       '서울 성동구', '부산 해운대구', '서울 금천구', '충북 청주시', '충남 아산시', '서울 종로구',
       '경기 용인시', '서울 서초구', '제주 제주시', '대전 서구', '서울 강서구', '대전 유성구',
       '부산 사상구', '경기 광명시', '서울 관악구', '경남 창원시', '서울 광진구', '대구 동구',
       '서울 양천구', '경기 안산시', '경기 군포시', '서울 서대문구', '경기 화성시', '경기 이천시',
       '서울 강동구', '경기 수원시', '경기 부천시', '광주 북구', '서울 동작구', '서울 용산구',
       '대구 수성구', '서울 동대문구', '전남 영광군', '충북 제천시', '부산 기장군', '경북 포항시',
       '대구 달서구', '경기 고양시', '경남 거제시', '인천 연수구', '인천 서구', '충남 천안시',
       '경기 의정부시', '대구 남구', '대전 동구', '경남 양산시', '경기 하남시', '부산 강서구', '대구 중구',
       '인천 중구', '경남 밀양시', '인천 부평구', '전북 익산시'], dtype=object)

In [20]:
len(corporations['기업명'].unique())

263

In [18]:
corporations['사원수'].value_counts()

0                    174
133 명  (2022년 기준)      6
32 명  (2022년 기준)       5
900 명  (2022년 기준)      4
27 명  (2022년 기준)       4
                    ...
635 명  (2021년 기준)      1
524 명  (2022년 기준)      1
106 명  (2022년 기준)      1
26 명  (2018년 기준)       1
12 명  (2018년 기준)       1
Name: 사원수, Length: 128, dtype: int64

In [16]:
corporations['설립일(업력)'].value_counts()

0                         147
2006년 10월 2일 (업력 16년)       6
2018년 6월 19일 (업력 4년)        5
2022년 2월 4일 (업력 0년)         4
2016년 1월 28일 (업력 6년)        4
                         ...
2007년 1월 2일 (업력 15년)        1
2001년 3월 17일 (업력 21년)       1
2021년 9월 9일 (업력 1년)         1
2013년 8월 27일 (업력 9년)        1
2017년 3월 23일 (업력 5년)        1
Name: 설립일(업력), Length: 159, dtype: int64